<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PopulateAnalysisDB.Properties.Settings.ChessAnalysisConnectionString"
            connectionString="Data Source=DEMASTRI-W10-05\JPD_SQL17_01;Initial Catalog=ChessAnalysis;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>