<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Setting name="MRUList">
  </Setting>
  <Setting name="OpenLast" value="n" />
  <Setting name="StartMode" value="correspondence" />
  <Setting name="CorrTemplate" value="CCTemplate" />
  <Setting name="MyName" value="SomeName" />
  <Setting name="CorrTimeControl" >
    <SettingValue id="1" value="10" />
    <SettingValue id="2" value="30" />
  </Setting>
</Settings>