@model CorrWeb.Models.CorrGame
<p style="width: 150px; text-align: left; background: aqua; color: #202020; float:left; " >
    Will be the tagsfor the currently selected game
    or No Game Currently Selected note
</p>
