@model CorrWeb.Models.CorrGame

<p style="width: 200px; text-align: left; background: yellow; color: #202020; float:left" >
    Will be the move list for the currently selected game
    or No Game Currently Selected note

</p>
